$color-bg-white: #f7f7f7;
$color-primary: #4c4d4f;
$color-red: #ee1924;
$color-price: #e12a2a;
$color-discount: #1a9442;
$color-darker-blue: #102D55;
$color-dark-blue: #1A3F73;
$color-white: #fff;
$color-black: #3b3b3b;
$color-green: #00a54a;
$color-grey: #666;
$color-text-blue: #2674a3;